
.itemStatisticsList{
    display: flex;
    flex-direction: column;
    padding: 15px;
    width: 100px;
    align-items: center;
}

.statisticsList{
    display: flex;
    margin-top: 0;
}

.statTitle{
    font-family: 'Dancing Script', cursive;
    font-size: 70px;
}